<!DOCTYPE html>
<html>
  <head>
    <!-- head要素の内容 -->
  </head>
  <body>
    <%= render 'shared/header' %>
    
    <main>
      <%= yield %>
    </main>
    
    <%= render 'shared/footer' %>
  </body>
</html>
